<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="stylesheet" href="/static/css/testStyle/testStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link href="/static/css/styles.css" th:href="@{/css/testStyle/testStyle.css}" rel="stylesheet"/>-->
</head>
<body>

<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="/static/assets/img/productImgs/logo.png" th:src="@{/assets/testimgs/images/logo.png}"
                 width="125px;">
        </div>
        <nav>
            <ul id="menu-items">
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
            </ul>
        </nav>

        <img src="/static/assets/img/productImgs/cart.png" th:src="@{/assets/testimgs/images/cart.png}" width="30px"
             height="30px">
        <img src="/static/assets/img/productImgs/menu.png" th:src="@{/assets/testimgs/images/menu.png}"
             class="menu-icon" width="30px" height="30px"
             onclick="menutoggle();">
    </div>
</div>


<!---------------------------장바구니 아이템 ------------------------------------------------>

    <div class="small-container cart-page" >
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/static/assets/img/productImgs/buy-1.jpg">
                        <div>
                            <p>Red Printed T-Shirt</p>
                            <small>Price : 20000 원</small>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>20000원</td>
            </tr>

            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/static/assets/img/productImgs/buy-1.jpg">
                        <div>
                            <p>Red Printed T-Shirt</p>
                            <small>Price : 20000 원</small>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>20000원</td>
            </tr>

            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/static/assets/img/productImgs/buy-1.jpg">
                        <div>
                            <p>Red Printed T-Shirt</p>
                            <small>Price : 20000 원</small>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>20000원</td>
            </tr>
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>20000만원</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>20000만원</td>
                </tr>
            </table>
        </div>

    </div>

<!--------------------------------------footer------------------------------------>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and ios mobile Phone</p>
                <div class="app-logo">
                    <img src="/static/assets/img/productImgs/play-store.png">
                    <img src="/static/assets/img/productImgs/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/static/assets/img/productImgs/logo-white.png">
                <p>Download App for Android and ios mobile Phone</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022</p>
    </div>
</div>
<script defer>

    let menuItems = document.getElementById("menu-items");
    menuItems.style.maxHeight = "0px";


    function menutoggle() {
        if (menuItems.style.maxHeight == "0px") {
            menuItems.style.maxHeight = "200px";
        } else {
            menuItems.style.maxHeight = "0px";
        }
    }


</script>



</body>
</html>

