<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="" th:href="@{/}">E-Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <form action="https://www.google.com/search" method="GET">
                        <div class="mx-auto mt-5 search-bar input-group mb-3">
                            <input name="q" type="text" class="form-control rounded-pill" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            </div>
                        </div>
                    </form>
                </ul>
                <form class="d-flex">

                    <button sec:authorize="isAnonymous()" id="login-btn" class="btn btn-outline-dark join-btn" type="button" th:onclick="|location.href='@{/login}'|">
                        로그인
                    </button>
                    <button  sec:authorize="isAuthenticated()" id="logout-btn" class="btn btn-outline-dark join-btn" type="button" th:onclick="|location.href='@{/logout}'|">
                        로그아웃
                    </button>

                    <button sec:authorize="isAnonymous()" id="join-btn" class="btn btn-outline-dark join-btn" type="button" th:onclick="|location.href='@{/join}'|">
                        회원가입
                    </button>

                    <button id="myshop-btn" class="btn btn-outline-dark join-btn" type="button" th:onclick="|location.href='@{/mypage}'|">
                        <i class="bi bi-person-lines-fill"></i>
                    </button>
                    <div class="cart cartActive">
                        <!--        <p>Total <span th:text="${#numbers.formatDecimal(ctotal, 0, 'COMMA', 2, 'POINT')} + '원'"></span>장바구니에 담겼습니다.</p>-->
                        <button class="btn btn-outline-dark" type="button" th:onclick="|location.href='@{/cart}'|">
                            <i class="bi-cart-fill me-1"></i>
                            <span id="cart-count" class="badge bg-dark text-white ms-1 rounded-pill" th:text="${csize}">0</span>
                        </button>

                    </div>
<!--                    <div th:replace="/cart/cartPartial"></div>-->


                </form>
            </div>
        </div>
    </nav>
</div>