<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topbarFragment">
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img th:src="@{/assets/img/productimgs/logo.png}" width="125px;">
                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
                <img src="/static/assets/img/productImgs/cart.png" th:src="@{/assets/img/productimgs/cart.png}"
                     width="30px" height="30px">
                <img src="/static/assets/img/productImgs/menu.png" th:src="@{/assets/img/productimgs/menu.png}"
                     class="menu-icon" width="30px" height="30px"
                     onclick="menutoggle();">
            </div>
        </div>




    </div>
</th:block>