<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/fragments/header :: headFragment"></th:block>
<body>
<th:block th:replace="/fragments/bodyHeader :: topbarFragment">

</th:block>
<body>

<div class="small-container">

    <div class="row row-2">
        <h2>All products</h2>
        <select id="option" onchange="optionEvent()">
            <option value="0" selected>기본</option>
            <option value="1" >가격 순으로 정렬</option>
            <option value="2">판매 순으로 정렬</option>
        </select>
    </div>

    <div class="row">
        <div class="col-4" th:each=" list : ${productList}">
            <img th:src="@{'/assets/img/productImgs/' + ${list.image}}"
                 src="/static/assets/img/productImgs/product-1.jpg">
            <h4 th:text="${list.name}">Red Printed T-Shirt</h4>
            <p th:text="${list.price}">$50.00</p>
        </div>
    </div>

    <div class="page-btn">
        <span th:each="page : ${#numbers.sequence(startPage,endPage)}">
        <a th:if="${page == nowPage}" th:text="${page}" style="color: orangered"></a>
        <a th:if="${page != nowPage}" th:href="@{/(page = ${page -1})}" th:text="${page}"></a>
        </span>

    </div>
</div>

<!--------------------------------------footer------------------------------------>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and ios mobile Phone</p>
                <div class="app-logo">
                    <img src="/static/assets/img/productImgs/play-store.png">
                    <img src="/static/assets/img/productImgs/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/static/assets/img/productImgs/logo-white.png">
                <p>Download App for Android and ios mobile Phone</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022</p>
    </div>
</div>
<script defer>

    
    let menuItems = document.getElementById("menu-items");
    menuItems.style.maxHeight = "0px";


    function menutoggle() {
        if (menuItems.style.maxHeight == "0px") {
            menuItems.style.maxHeight = "200px";
        } else {
            menuItems.style.maxHeight = "0px";
        }
    }
    function optionEvent() {
        let optionSelected = document.getElementById("option").value;
        console.log(optionSelected);
        $.ajax({
            url : "/" ,
            data: {optionValue : optionSelected},
            type: "GET",
            success:function(data){
                console.log(data);
                location.reload();
            },
            error:function(jqXHR, textStatus, errorThrown){
                alert("에러 발생~~ \n" + textStatus + " : " + errorThrown);
                self.close();
            }
        });
    }

</script>
</body>
</html>

