<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="../static/css/joinstyle.css">
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">회원가입</h4>
<!--            <p class="text-center"></p>-->
<!--            <p>-->
<!--                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>-->
<!--                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>-->
<!--            </p>-->
<!--            <p class="divider-text">-->
<!--                <span class="bg-light">OR</span>-->
<!--            </p>-->
            <form action="" th:action method="post" th:object="${member}">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" th:field="*{email}" class="form-control" placeholder="아이디(이메일)" type="email">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" th:field="*{password}" placeholder="비밀번호" type="password">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="비밀번호 확인" type="password">
                </div> <!-- form-group// -->


                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" th:field="*{name}" placeholder="이름" type="text">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input name="" class="form-control" th:field="*{phone}" placeholder="휴대폰 번호" type="text">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> 회원가입 </button>
                </div> <!-- form-group// -->
                <p class="text-center">계정이 있으세요? <a href="" th:href="@{'/login'}">로그인</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->

<div th:replace="fragments/footer :: footer" />
</body>
</html>