<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
	<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
	<!------ Include the above in your HEAD tag ---------->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link rel="stylesheet" href="../static/css/joinstyle.css">
	<meta charset="UTF-8">
	<title>회원가입</title>
</head>
<!--<script defer>-->
<!--	function login(){-->
<!--		const email = document.getElementById('email').value;-->
<!--		const password = document.getElementById('password').value;-->
<!--		let userInfo = {};-->

<!--		userInfo.username = email;-->
<!--		userInfo.password = password;-->

<!--		$.ajax({-->
<!--			type: "post",-->
<!--			url: "/login",-->
<!--			data: userInfo,-->
<!--			success: function(data) {-->
<!--				alert('성공');-->
<!--				console.log(data);-->
<!--				//location.href="/"-->
<!--			},-->
<!--			error: function(e){-->
<!--				alert('error!!');-->
<!--			}-->
<!--		});-->
<!--	}-->

<!--</script>-->
<body>
<div class="container">

	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<a th:href="@{/}"><h4 class="card-title mt-3 text-center">E-Shop</h4></a>
			<form action="" th:action="@{/login_proc}" method="post" th:object="${member}">
				<input th:type="hidden" th:value="secret" name="secret_key">
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					<input name="" th:field="*{email}" class="form-control" placeholder="아이디(이메일)" type="email">
				</div> <!-- form-group// -->

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" th:field="*{password}" placeholder="비밀번호" type="password">
				</div> <!-- form-group// -->

				<div class="form-group input-group" th:if="${param.error}">
					<p th:text="${exception}" class="alert alert-danger"></p>
				</div> <!-- form-group// -->

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> 로그인 </button>
				</div> <!-- form-group// -->

				<div class="form-group">
					<button type="button" class="btn btn-dark btn-block" th:onclick="|location.href='@{/join}'|"> 회원가입 </button>
				</div> <!-- form-group// -->

			</form>
		</article>
	</div> <!-- card.// -->

</div>
<!--container end.//-->

<div th:replace="fragments/footer :: footer" />
</body>
</html>